<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cmbwlb.cus.infrastructure.persistence.task.mapper.TaskMapper">

    <resultMap id="TaskListResultMap"
               type="com.cmbwlb.cus.infrastructure.persistence.task.po.TaskListRowPO">
        <id property="taskId" column="task_id"/>
        <result property="taskStatus" column="task_status"/>
        <result property="taskRemark" column="task_remark"/>
        <result property="makerId" column="maker_id"/>
        <result property="checkerId" column="checker_id"/>
        <result property="createTime" column="create_time"/>
        <result property="transactionTime" column="transaction_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="tranType" column="tran_type"/>
        <result property="cusId" column="cus_id"/>
        <result property="cusEnName" column="cus_en_name"/>
        <result property="cusCnName" column="cus_cn_name"/>
    </resultMap>

    <select id="selectTaskList" resultMap="TaskListResultMap">
        SELECT
            t.task_id,
            t.task_status,
            t.task_remark,
            t.maker_id,
            t.checker_id,
            t.create_time,
            r.create_time AS transaction_time,
            t.update_time,
            r.tran_type,
            r.cus_id,
            c.cus_en_name,
            c.cus_cn_name
        FROM cies_trn_task_info t
        INNER JOIN cies_trn_repo_info r ON t.ref_id = r.tran_id
        INNER JOIN cies_ent_cus_info c ON r.cus_id = c.cus_id

        <where>
            <if test="query.taskId != null">
                AND t.task_id LIKE CONCAT('%', #{query.taskId}, '%')
            </if>
            <if test="query.status != null">
                AND t.task_status = #{query.status}
            </if>
            <if test="query.cusId != null">
                AND r.cus_id LIKE CONCAT('%', #{query.cusId}, '%')
            </if>
            <if test="query.createTimeFrom != null">
                AND t.create_time &gt;= #{query.createTimeFrom}
            </if>
            <if test="query.createTimeToExclusive != null">
                AND t.create_time &lt; #{query.createTimeToExclusive}
            </if>
            <if test="query.updateTimeFrom != null">
                AND t.update_time &gt;= #{query.updateTimeFrom}
            </if>
            <if test="query.updateTimeToExclusive != null">
                AND t.update_time &lt; #{query.updateTimeToExclusive}
            </if>
            <if test="query.transactionTimeFrom != null">
                AND r.create_time &gt;= #{query.transactionTimeFrom}
            </if>
            <if test="query.transactionTimeToExclusive != null">
                AND r.create_time &lt; #{query.transactionTimeToExclusive}
            </if>
        </where>

        <choose>
            <when test="query.sortField != null and query.sortOrder != null">
                ORDER BY
                <choose>
                    <when test="query.sortField == 'taskId'">
                        t.task_id
                    </when>
                    <when test="query.sortField == 'createTime'">
                        t.create_time
                    </when>
                    <when test="query.sortField == 'transactionTime'">
                        r.create_time
                    </when>
                    <when test="query.sortField == 'updateTime'">
                        t.update_time
                    </when>
                    <otherwise>
                        t.create_time
                    </otherwise>
                </choose>
                <choose>
                    <when test="query.sortOrder == 'asc'">
                        ASC
                    </when>
                    <otherwise>
                        DESC
                    </otherwise>
                </choose>
                , t.task_id ASC
            </when>
            <otherwise>
                ORDER BY t.create_time DESC, t.task_id DESC
            </otherwise>
        </choose>
    </select>
</mapper>
